
/*web layout styles*/
body
{
	margin: 0px;
	padding: 5px;
	font-size: 15px;
	font-family: Verdana;
	width: 900px; 
}

#main-layout
{
	display: table;
}

#main-content
{ 
	margin: 15px; 
}

.displayed 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p
{
	color: #330066;
	font-size: 15px; 

}

td
{
	padding: 2px; 
	 
}

.content
{
	
	padding: 10px; 
	display: table-cell; 
}

#footer
{
	border: solid; 
	text-align: center; 
}

.container
{
	position: relative; 
	width: 600px; 
}
#image
{
	position: absolute;
}

#text
{
	z-index: 100;
	position: absolute; 
	color: white; 
	left: 220px; 
	top: 290px; 
}



/*title styles*/
h1
{
	font-family: Verdana;
	text-align: center; 

}

h2
{
	font-family: Verdana;
	text-align: Left; 

}

h3
{
	text-align: center;
	
}

.subtitle
{
	color: #b30059;
}

.title
{
	color:#330066;
}




/*nav styles*/
#menu
{
	display: table-cell; 
	width: 200px;
	height: 400px; 
	margin: 10px;  
	vertical-align: top; 
	background:#f2e6ff;
}

a:link
{
	color: #330066; 
	cursor: auto;
}

a:visited
{
	color: #330066;
	text-decoration: underline; 
	cursor: auto;
}

a:visited:active
{
	color: #b30059;
	text-decoration: underline; 
	cursor: auto;
}

#current-page
{
	font-weight: bold;
	font-size: 15px;
	color: #b30059;
	text-decoration: underline;
}			

#nav
{
	
	font-size:20px;
	color: #330066;
}

#quiz-link
{
	display: none; 
}

#certificate-link
{
	display: none; 
}




/*audio styles*/
#caption-title
{
	font-weight: bold; 
	font-size: 15px;
	color: white;
	text-align: left; 
	width: 200px; 
	background: #330066;
	padding: 5px;
}

#audio-title
{
	font-weight: bold; 
	font-size: 15px;
	color: white;
	text-align: left; 
	width: 200px; 
	background: #330066;
	padding: 5px; 
}

#caption
{
	color:#330066;
	overflow: auto;
	width: 180px;
}









/*#main-info
{
	float: left;
	width: 627px;
}

#aside-info
{
	float: left;
	width: 200px;
	vertical-align: top;
	padding-left: 10px;
}
	
#main-content
{
	height: 368px;
	padding: 10px;
	margin: 10px;
}

#navigation
{
	background: #666666;	
	padding: 5px;
	width: 886px;
	float: left;
	height: 18px;
}

#sub-navigation
{
	background: #dddddd;	
	padding: 5px;
	width: 886px;
	float: left;
	height: 18px;
	font-size: 14px;
}

#aside-title-audio
{
	background: #666666;
	width: 233px;
	font-size: 14px;
	font-weight: bold;
	color: white;
	padding: 5px;
}

#content-frame
{
	border: none;
}
	
#transcript
{
	color: green;
	font-size: 12px;
	overflow: auto;
	height: 321px;
	width: 233px;
}

audio
{
	width: 230px;
}*/