.column
{
	display: table-cell;
	padding: 50px;
	width: 200px;
}

.dragger
{

	cursor: move;
	position: relative;
	ghosting: true;
}

.dragger p
{
	font-weight: bold;
}

.draggerbay
{

	text-align: center;
	background: #ccccee;
}

[draggable=true] 
{
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
w