.column
{
	display: table-cell;
	padding: 5px;
	width: 100px;
}

.hotspot
{
	border: solid thin #000000;
	background: #999999;
	
	text-align: center;
	height: 100px;
	width: 155px;
	vertical-align: center;
	position: relative;
}

.hotspot p
{
	font-weight: bold;
}

#output-box
{
	text-align: center;
	
	display: none;
}
