body
{
	margin: 0px;
	padding: 5px;
	font-size: 12px;
	font-family: Arial;
	width: 900px; 
}

td
{
	padding: 2px; 
	 
}

h1
{
	
	text-align: center; 
	border: solid;
}
#main-layout
{
	display: table;
}
#current-page
{
	font-weight: bold;
	font-size: 15px;
	color: #737373;
	text-decoration: underline;
}
#menu
{
	display: table-cell; 
	width: 200px;
	height: 400px; 
	margin: 10px;  
	vertical-align: top; 
	background: #f2f2f2;
}
#audio-title
{
	font-weight: bold; 
	font-size: 15px;
	color:  #737373;
	text-align: left; 
}
#nav
{
	
	Font-size:25px;
	color: #737373;
}
.content
{ 
	padding: 10px;
	margin: 10px; 
	display: table; 
	text-align: center; 
 

}
.title
{
	color:#737373;
	
}
.subtitle
{
	color: #47d147;
}
#caption-title
{
	font-weight: bold; 
	font-size: 15px;
	color: #737373;
	text-align: left; 
}
.displayed 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
#caption
{
	color:#737373;
}
a:link
{
	color: #737373; 
	cursor: auto;
}
a:visited
{
	color: #47d147;
	text-decoration: underline; 
	cursor: auto;
}

#matching
{
	float: left; 
}

.content
{
	border: solid;
	padding: 10px; 
	display: table-cell; 
	text-align: center;
}

#footer
{
	border: solid; 
	text-align: center; 
}

/*#quiz-link
{
	display: none; 
}*/

#certificate-link
{
	display: none; 
}

/*#main-info
{
	float: left;
	width: 627px;
}

#aside-info
{
	float: left;
	width: 200px;
	vertical-align: top;
	padding-left: 10px;
}
	
#main-content
{
	height: 368px;
	padding: 10px;
	margin: 10px;
}

#navigation
{
	background: #666666;	
	padding: 5px;
	width: 886px;
	float: left;
	height: 18px;
}

#sub-navigation
{
	background: #dddddd;	
	padding: 5px;
	width: 886px;
	float: left;
	height: 18px;
	font-size: 14px;
}

#aside-title-audio
{
	background: #666666;
	width: 233px;
	font-size: 14px;
	font-weight: bold;
	color: white;
	padding: 5px;
}

#content-frame
{
	border: none;
}
	
#transcript
{
	color: green;
	font-size: 12px;
	overflow: auto;
	height: 321px;
	width: 233px;
}

audio
{
	width: 230px;
}*/