
/*web layout styles*/
body
{
	margin: 0px;
	padding: 5px;
	font-size: 15px;
	font-family: Verdana;
	width: 900px; 
}

#main-layout
{
	display: table;
}

#main-content
{
	margin: 15px; 	  
}

.content
{ 
	padding: 10px;
	margin: 10px; 
	display: table-cell; 
	text-align: center; 
}

#footer
{
	border: solid; 
	text-align: center; 
}

.displayed 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

td
{
	padding: 2px; 
	 
}



/*title styles*/
h1
{
	text-align: center;  
	color:#737373;
}

.subtitle
{
	color: #47d147;
}




/*nav styles*/

#menu
{
	display: table-cell; 
	width: 200px;
	height: 400px; 
	margin: 10px;  
	vertical-align: top; 
	background: #f2f2f2;
}

#current-page
{
	font-weight: bold;
	font-size: 15px;
	color: #737373;
	text-decoration: underline;
}

#audio-title
{
	font-weight: bold; 
	font-size: 15px;
	color:  #737373;
	text-align: left; 
	background: #ede803; 
	padding: 5px;
}

#caption-title
{
	font-weight: bold; 
	font-size: 15px;
	color: #737373;
	text-align: left; 
	background: #ede803; 
	padding: 5px;
}

#nav
{	
	font-size:20px;
	color: #737373;
}
 
#caption
{
	color:#737373;
	padding: 5px; 
}

a:link
{
	color: #737373; 
	cursor: auto;
}

a:visited
{
	color: #47d147;
	text-decoration: underline; 
	cursor: auto;
}

#quiz-link
{
	display: none; 
}

/*#certificate-link
{
	display: none; 
}*/






/*#main-info
{
	float: left;
	width: 627px;
}

#aside-info
{
	float: left;
	width: 200px;
	vertical-align: top;
	padding-left: 10px;
}
	
#main-content
{
	height: 368px;
	padding: 10px;
	margin: 10px;
}

#navigation
{
	background: #666666;	
	padding: 5px;
	width: 886px;
	float: left;
	height: 18px;
}

#sub-navigation
{
	background: #dddddd;	
	padding: 5px;
	width: 886px;
	float: left;
	height: 18px;
	font-size: 14px;
}

#aside-title-audio
{
	background: #666666;
	width: 233px;
	font-size: 14px;
	font-weight: bold;
	color: white;
	padding: 5px;
}

#content-frame
{
	border: none;
}
	
#transcript
{
	color: green;
	font-size: 12px;
	overflow: auto;
	height: 321px;
	width: 233px;
}

audio
{
	width: 230px;
}*/