.column
{
	display: table-cell;
	padding: 50px;
	width: 325px;
}

.dragger
{
	border: solid thick #000000;
	background: #004080;	
	text-align: center;
	height: 100%;
	width: 100%;
	vertical-align: center;
	horizontal-align: center;
	margin: auto;
	cursor: move;
	position: relative;
	ghosting: true;
}

.dragger p
{
	font-weight: bold;
}

.draggerbay
{
	border: solid thick #000000;
	background: #004080;
	text-align: center;
	height: 100%;
	width: 100%;
	vertical-align: center;
	horizontal-align: center;
	margin: auto;
	position: relative;
}

[draggable=true] 
{
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
w