.column
{
	display: table-cell;
	padding: 50px;
	width: 300px;
}

.dragger
{

	vertical-align: center;
	cursor: move;
	position: relative;
	ghosting: true;
}

.dragger p
{
	font-weight: bold;
}

.draggerbay
{
	text-align: center; 
}

[draggable=true] 
{
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
w