body
{
	margin: 0px;
	padding: 5px;
	font-size: 12px;
	font-family: Arial;
	width: 900px; 
}

h1
{
	
	text-align: center; 
	border: solid;
}

	
#main-layout
{
	display: table;
}
			

#menu
{
	display: table-cell; 
	width: 200px;
    margin; auto;
	height: 400px; 
	margin: 10px; 
	vertical-align: top;   
}




#matching
{
	float: left; 
}

.content
{
	border: solid;
	padding: 10px; 
	display: table-cell; 
	text-align: center;
}

#content2
{
	border: solid;
	padding: 10px;
	display: table-cell;
	width: 150px;
	height: 75px;
}

.objectives
{
	font-family: arial;
	font-size: 20px;
	color: #000000;
}

#footer
{
	border: solid; 
	text-align: center; 
}



/*#main-info
{
	float: left;
	width: 627px;
}

#aside-info
{
	float: left;
	width: 200px;
	vertical-align: top;
	padding-left: 10px;
}
	
#main-content
{
	height: 368px;
	padding: 10px;
	margin: 10px;
	display: table-cell;
	}

#navigation
{
	background: #666666;	
	padding: 5px;
	width: 886px;
	float: left;
	height: 18px;
}

#sub-navigation
{
	background: #dddddd;	
	padding: 5px;
	width: 886px;
	float: left;
	height: 18px;
	font-size: 14px;
}

#aside-title-audio
{
	background: #666666;
	width: 233px;
	font-size: 14px;
	font-weight: bold;
	color: white;
	padding: 5px;
}

#content-frame
{
	border: none;
}
	
#transcript
{
	color: green;
	font-size: 12px;
	overflow: auto;
	height: 321px;
	width: 233px;
}

audio
{
	width: 230px;
}*/